In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.1.3'

In [7]:
df=pd.read_csv("yellow_tripdata_2021-01.csv",nrows=100)

In [8]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [15]:
df.tpep_pickup_datetime=pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime=pd.to_datetime(df.tpep_dropoff_datetime)

In [25]:
from sqlalchemy import create_engine

In [26]:
engine=create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [27]:
print(pd.io.sql.get_schema(df,name='yellow_taxi_data',con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [53]:
df_iter=pd.read_csv("yellow_tripdata_2021-01.csv",iterator=True,chunksize=100000)

In [54]:
df=next(df_iter)

In [55]:
len(df)

100000

In [56]:
df.tpep_pickup_datetime=pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime=pd.to_datetime(df.tpep_dropoff_datetime)

In [57]:
df.head(n=0).to_sql(name='yellow_taxi_data',con=engine,if_exists='replace')

0

In [58]:
%time df.to_sql(name='yellow_taxi_data',con=engine,if_exists='append')

CPU times: user 6.68 s, sys: 19.6 ms, total: 6.7 s
Wall time: 9.95 s

1000

In [59]:
from time import time

In [60]:
while True:
    t_start=time()
    
    df=next(df_iter)
    
    df.tpep_pickup_datetime=pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime=pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name='yellow_taxi_data',con=engine,if_exists='append')

    t_end=time()
    print("inserted another chunk ..., took %.3f second" % (t_end - t_start))

inserted another chunk ..., took 9.669 second
inserted another chunk ..., took 9.785 second
inserted another chunk ..., took 10.185 second
inserted another chunk ..., took 9.758 second
inserted another chunk ..., took 9.587 second
inserted another chunk ..., took 10.130 second
inserted another chunk ..., took 9.834 second
inserted another chunk ..., took 9.893 second
inserted another chunk ..., took 10.255 second
inserted another chunk ..., took 10.420 second
inserted another chunk ..., took 9.872 second

/tmp/ipykernel_26525/1300605967.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df=next(df_iter)

inserted another chunk ..., took 9.910 second
inserted another chunk ..., took 6.003 second

StopIteration:

In [1]:
!wget 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz'

--2024-01-23 03:37:11--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz
Resolving github.com (github.com)... 140.82.114.4
Connecting to github.com (github.com)|140.82.114.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/f6895842-79e6-4a43-9458-e5b0b454a340?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240123%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240123T033711Z&X-Amz-Expires=300&X-Amz-Signature=be7821c70630779e271b409f78d676369bca08908176e8bc0fa5015386a42155&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dyellow_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-01-23 03:37:11--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/f6895842-79e6-4a43-9458-e5b0b454a340?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240123%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240123T033711Z&X-Amz-Expires=300&X-Amz-Signature=be7821c70630779e271b409f78d676369bca08908176e8bc0fa5015386a42155&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dyellow_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.109.133, 185.199.108.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 25031880 (24M) [application/octet-stream]
Saving to: ‘yellow_tripdata_2021-01.csv.gz’

yellow_tripdata_202 100%[===================>]  23.87M  71.5MB/s    in 0.3s

2024-01-23 03:37:11 (71.5 MB/s) - ‘yellow_tripdata_2021-01.csv.gz’ saved [25031880/25031880]

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("yellow_tripdata_2021-01.csv.gz")

/tmp/ipykernel_12437/856993020.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("yellow_tripdata_2021-01.csv.gz")

In [8]:
list(df.columns)

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge']

In [1]:
!wget 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-10.csv.gz'

--2024-02-04 06:12:35--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-10.csv.gz
Resolving github.com (github.com)... 140.82.114.4
Connecting to github.com (github.com)|140.82.114.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b94c0bd2-e629-406d-aecf-d4e2c0412807?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240204%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240204T061235Z&X-Amz-Expires=300&X-Amz-Signature=4c53760647a04344b4d556de9078403a6f7649c592b28d4f2634a83e68617345&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2020-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-02-04 06:12:35--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b94c0bd2-e629-406d-aecf-d4e2c0412807?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240204%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240204T061235Z&X-Amz-Expires=300&X-Amz-Signature=4c53760647a04344b4d556de9078403a6f7649c592b28d4f2634a83e68617345&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2020-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.108.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1709547 (1.6M) [application/octet-stream]
Saving to: ‘green_tripdata_2020-10.csv.gz’

green_tripdata_2020 100%[===================>]   1.63M  --.-KB/s    in 0.04s

2024-02-04 06:12:35 (38.7 MB/s) - ‘green_tripdata_2020-10.csv.gz’ saved [1709547/1709547]

In [3]:
df=pd.read_csv('green_tripdata_2020-10.csv.gz')

/tmp/ipykernel_173639/2439079961.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('green_tripdata_2020-10.csv.gz')

In [4]:
list(df.columns)

['VendorID',
 'lpep_pickup_datetime',
 'lpep_dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95120 entries, 0 to 95119
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               52610 non-null  float64
 1   lpep_pickup_datetime   95120 non-null  object
 2   lpep_dropoff_datetime  95120 non-null  object
 3   store_and_fwd_flag     52610 non-null  object
 4   RatecodeID             52610 non-null  float64
 5   PULocationID           95120 non-null  int64
 6   DOLocationID           95120 non-null  int64
 7   passenger_count        52610 non-null  float64
 8   trip_distance          95120 non-null  float64
 9   fare_amount            95120 non-null  float64
 10  extra                  95120 non-null  float64
 11  mta_tax                95120 non-null  float64
 12  tip_amount             95120 non-null  float64
 13  tolls_amount           95120 non-null  float64
 14  ehail_fee              0 non-null      float64
 15  improvement_surcharge  95120 non-null  float64
 16  total_amount           95120 non-null  float64
 17  payment_type           52610 non-null  float64
 18  trip_type              52610 non-null  float64
 19  congestion_surcharge   52610 non-null  float64
dtypes: float64(15), int64(2), object(3)
memory usage: 14.5+ MB

In [4]:
list(df.VendorID.unique())

[1.0, 2.0, nan]

In [ ]:
df.