In [2]:
import pyspark

In [4]:
pyspark.__version__

'3.3.2'

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/02/27 01:57:39 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [7]:
spark

In [8]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2024-02-27 01:59:13--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.201.120, 52.216.212.96, 52.217.164.192, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.201.120|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2024-02-27 01:59:13 (150 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [10]:
!head taxi+_zone_lookup.csv

In [11]:
df = spark.read \
    .option("header", "true") \
    .csv('taxi+_zone_lookup.csv')

In [12]:
df.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [13]:
df.write.parquet('zones')

In [14]:
!ls -lh

total 168K
-rw-rw-r-- 1 mkahraman82 mkahraman82 5.1K Feb 27 01:59 03_test.ipynb
-rw-rw-r-- 1 mkahraman82 mkahraman82  27K Feb 27 00:59 groupby_join.ipynb
-rw-rw-r-- 1 mkahraman82 mkahraman82  53K Feb 27 00:59 notebook.ipynb
-rw-rw-r-- 1 mkahraman82 mkahraman82 3.9K Feb 27 00:59 rdds.ipynb
-rw-rw-r-- 1 mkahraman82 mkahraman82  29K Feb 27 00:59 spark_sql.ipynb
-rw-rw-r-- 1 mkahraman82 mkahraman82  13K Aug 17  2016 taxi+_zone_lookup.csv
-rw-rw-r-- 1 mkahraman82 mkahraman82  17K Feb 27 00:59 taxi_schema.ipynb
drwxr-xr-x 2 mkahraman82 mkahraman82 4.0K Feb 27 02:01 zones