In [22]:
import pyspark

In [23]:
from pyspark.sql import SparkSession

In [24]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

In [25]:
spark

In [31]:
df_green=spark.read.parquet('../code/data/pq/green/*/*')

In [34]:
df_green.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- trip_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [35]:
df_yellow=spark.read.parquet('../code/data/pq/yellow/*/*')

In [36]:
df_yellow.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: integer (nullable = true)

In [42]:
set(df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'dropoff_datetime',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'pickup_datetime',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [40]:
df_green = df_green \
    .withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')

In [41]:
df_yellow = df_yellow \
    .withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

In [47]:
common_columns=[]

yellow_columns=set(df_yellow.columns)

for col in df_green.columns:
    if col in df_yellow.columns:
        common_columns.append(col)

In [48]:
common_columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge']

In [55]:
df_green.select(common_columns).show()

+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+
|VendorID|    pickup_datetime|   dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|payment_type|congestion_surcharge|
+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+
|       2|2020-01-23 13:10:15|2020-01-23 13:38:16|                 N|         1|          74|         130|              1|        12.77|       36.0|  0.0|    0.5|      2.05|        6.12|                  0.3|       44.97|           1|                 0.0|
|       2|2020-01-11 12:14:00|2020-01-11 12:21:00|              null|      null|          95|         134|           null|         2.44|       8.17|  0.0|    0.0|       0.0|         0.0|                  0.3|        8.47|        null|                null|
|       2|2020-01-30 12:41:00|2020-01-30 13:30:00|              null|      null|         117|         188|           null|        13.11|      38.57| 2.75|    0.0|       0.0|        2.29|                  0.3|       43.91|        null|                null|
|       2|2020-01-05 16:32:26|2020-01-05 16:40:51|                 N|         1|          82|          83|              1|         1.25|        7.5|  0.0|    0.5|       0.0|         0.0|                  0.3|         8.3|           2|                 0.0|
|       2|2020-01-29 19:22:42|2020-01-29 19:31:02|                 N|         1|         166|          42|              1|         1.84|        8.0|  1.0|    0.5|      2.94|         0.0|                  0.3|       12.74|           1|                 0.0|
|       2|2020-01-15 11:07:42|2020-01-15 11:11:31|                 N|         1|         179|         223|              2|         0.76|        5.0|  0.0|    0.5|       0.0|         0.0|                  0.3|         5.8|           2|                 0.0|
|       2|2020-01-16 08:22:29|2020-01-16 08:50:24|                 N|         1|          41|         237|              1|         3.32|       18.5|  0.0|    0.5|       3.0|         0.0|                  0.3|       25.05|           1|                2.75|
|       2|2020-01-28 17:05:28|2020-01-28 17:26:11|                 N|         1|          75|         161|              1|         2.21|       14.0|  1.0|    0.5|      2.78|         0.0|                  0.3|       21.33|           1|                2.75|
|       2|2020-01-15 09:45:29|2020-01-15 09:58:20|                 N|         1|          75|         238|              2|         1.68|       10.5|  0.0|    0.5|       0.0|         0.0|                  0.3|        11.3|           2|                 0.0|
|       2|2020-01-04 10:28:49|2020-01-04 10:32:45|                 N|         1|          42|          41|              1|         0.77|        5.0|  0.0|    0.5|      1.16|         0.0|                  0.3|        6.96|           1|                 0.0|
|       1|2020-01-12 07:58:08|2020-01-12 08:07:59|                 N|         1|          91|          71|              1|          0.0|       13.2|  0.0|    0.5|       0.0|         0.0|                  0.3|        14.0|           1|                 0.0|
|       1|2020-01-30 21:46:31|2020-01-30 21:56:07|                 N|         1|         255|          80|              1|          1.3|        8.0|  0.5|    0.5|       1.0|         0.0|                  0.3|        10.3|           1|                 0.0|
|       1|2020-01-09 23:58:57|2020-01-10 00:09:27|                 N|         1|          65|          97|              1|          1.5|        8.5|  0.5|    0.5|      2.45|         0.0|                  0.3|       12.25|           1|                 0.0|
|       2|2020-01-12 10:38:00|2020-01-12 10:56:00|              null|      null|          51|          60|           null|         7.83|      27.65| 2.75|    0.0|       0.0|         0.0|                  0.3|        30.7|        null|                null|
|       2|2020-01-17 21:47:52|2020-01-17 22:00:07|                 N|         1|          74|         126|              1|         3.04|       12.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        13.3|           2|                 0.0|
|       2|2020-01-07 06:52:00|2020-01-07 07:28:00|              null|      null|          35|          33|           null|         4.96|       24.3|  0.0|    0.0|       0.0|         0.0|                  0.3|        24.6|        null|                null|
|       2|2020-01-24 12:08:00|2020-01-24 12:37:00|              null|      null|          97|         168|           null|        11.89|       48.8|  5.5|    0.0|       0.0|         0.0|                  0.3|        54.6|        null|                null|
|       2|2020-01-27 02:59:20|2020-01-27 03:05:18|                 N|         1|           7|         179|              1|         1.57|        6.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         7.8|           2|                 0.0|
|       2|2020-01-16 14:39:13|2020-01-16 15:19:56|                 N|         1|          74|         243|              1|          6.8|       29.5|  0.0|    0.5|       0.0|         0.0|                  0.3|        30.3|           1|                 0.0|
|       2|2020-01-16 18:42:24|2020-01-16 18:47:59|                 N|         1|          66|          97|              2|         1.06|        6.0|  1.0|    0.5|      1.56|         0.0|                  0.3|        9.36|           1|                 0.0|
+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+
only showing top 20 rows

In [53]:
from pyspark.sql import functions as F

In [56]:
df_green_st=df_green.select(common_columns).withColumn('service_type',F.lit('green'))

In [57]:
df_yellow_st=df_yellow.select(common_columns).withColumn('service_type',F.lit('yellow'))

In [59]:
df_trips_data=df_green_st.unionAll(df_yellow_st)

In [61]:
df_trips_data.groupby('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2802931|
|      yellow|55553400|
+------------+--------+

In [62]:
df_trips_data.registerTempTable('trips_data')

/workspaces/de-zoomcamp-2024/6_batch/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [66]:
spark.sql("""
    SELECT 
    service_type,count(1)
    FROM trips_data
    group by service_type
""").show()

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       green| 2802931|
|      yellow|55553400|
+------------+--------+

In [67]:
df_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    trips_data
GROUP BY
    1, 2, 3
""")

In [68]:
df_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|         250|2020-02-01 00:00:00|       green|  15359.960000000052|               1282.5|                  117.5|        56.010000000000005|           590.3200000000003|                    180.0000000000011|          17598.439999999948|                                11.0|        1.2394957983193278|       4.962810650887576|
|         158|2020-02-01 00:00:00|       green|              124.36|                 8.25|                    0.5|                       0.0|                         2.8|                   0.8999999999999999|                      136.81|                                null|                      null|      11.090000000000002|
|         229|2020-03-01 00:00:00|       green|              676.36|                  0.0|                    1.0|                       0.0|                       42.84|                    8.099999999999998|           728.3000000000001|                                 0.0|                       1.0|       7.691111111111111|
|          15|2020-03-01 00:00:00|       green|  1682.2299999999996|                  5.5|                    6.5|                       0.0|                       79.56|                    19.80000000000002|                     1802.44|                                 0.0|                       1.0|       7.910298507462685|
|         152|2020-02-01 00:00:00|       green|   37630.82000000001|              1541.25|                 1398.5|                   2836.66|           538.3700000000003|                    903.8999999999543|           45984.60000000081|                             1336.25|        1.2240055826936498|       2.726403366785373|
|         136|2020-03-01 00:00:00|       green|            12226.93|                 60.5|                   89.5|                     32.16|          485.20000000000016|                   163.19999999999916|          13123.940000000013|                                8.25|        1.1637426900584795|       6.487297297297294|
|          26|2020-03-01 00:00:00|       green|   9467.539999999999|                 52.5|                   52.0|                       0.0|          184.35000000000002|                   122.99999999999955|           9929.640000000009|                                 0.0|        1.1397849462365592|       5.237601918465228|
|         119|2020-03-01 00:00:00|       green|  11026.199999999999|                100.5|                  108.5|                     40.46|           525.8000000000003|                   155.99999999999923|          12021.460000000005|                                8.25|        1.0924369747899159|       5.552723880597014|
|         153|2020-03-01 00:00:00|       green|  2039.5400000000004|                 15.0|                   30.5|                     29.79|                        33.4|                    34.80000000000004|           2204.779999999999|                                 0.0|        1.1333333333333333|       4.165042016806724|
|         243|2019-12-01 00:00:00|       green|               13.99|                  0.0|                    0.0|                       1.0|                         0.0|                                  0.3|                       15.29|                                 0.0|                       1.0|                     0.0|
|          45|2020-03-01 00:00:00|       green|  2403.3900000000003|                 11.0|                    5.0|                       0.0|                        64.0|                   21.300000000000015|                     2506.64|                                 0.0|                       1.2|       9.125633802816902|
|          28|2020-03-01 00:00:00|       green|             5891.06|                29.25|                   53.0|         80.32000000000001|          195.84000000000006|                    84.29999999999978|           6368.820000000007|                                2.75|        1.2043795620437956|       5.802602739726025|
|         102|2020-03-01 00:00:00|       green|   2874.740000000001|                 26.5|                   17.5|                     40.22|                      104.04|                                 46.2|          3135.6499999999996|                                 5.5|        1.1481481481481481|       4.857922077922077|
|          20|2020-01-01 00:00:00|       green|            11375.42|                681.0|                  131.0|                     90.62|           479.8600000000003|                   147.29999999999987|          12923.199999999997|                                11.0|        1.2297872340425533|       4.872311926605503|
|         130|2020-03-01 00:00:00|       green|   60166.10000000001|               1436.5|                 1759.0|         4972.700000000003|           731.1700000000004|                   1234.1999999999566|           70458.47000000112|                               74.25|        1.1157574079202437|       3.873904420549586|
|          18|2020-03-01 00:00:00|       green|   9502.129999999997|                 69.5|                  100.0|                     78.06|           414.1400000000002|                   136.19999999999942|          10401.980000000018|                                 5.5|        1.1727272727272726|       5.481708860759492|
|          12|2020-01-01 00:00:00|       green|  161.01000000000002|                  5.5|                    1.0|                       0.0|                       12.24|                                  1.2|                      180.95|                                null|                      null|      0.7150000000000007|
|         248|2019-12-01 00:00:00|       green|                10.0|                  0.5|                    0.5|                       0.0|                         0.0|                                  0.3|                        11.3|                                 0.0|                       1.0|                     2.9|
|         182|2020-02-01 00:00:00|       green|   19047.14000000003|               1493.0|                  183.5|         209.7599999999999|           676.0000000000005|                    267.0000000000044|          21901.749999999858|                                16.5|         1.275053304904051|       4.035101832993894|
|          53|2020-03-01 00:00:00|       green|              2382.3|                15.25|                   19.5|                     54.99|                       76.24|                   30.600000000000033|           2581.629999999999|                                 5.5|        1.1136363636363635|       6.585048543689322|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 20 rows

In [75]:
df_result.coalesce(1).write.parquet('../code/data/report/revenue/',mode='overwrite')